<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @appointment.user_id %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @appointment.payment_id %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @appointment.payment_mode %>
</p>

<p>
  <strong>Service:</strong>
  <%= @appointment.service_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @appointment.price %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @appointment.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @appointment.end_time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @appointment.remark %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
