<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Payment:</strong>
  <%= @order.payment_id %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @order.payment_mode %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @order.date_time %>
</p>

<p>
  <strong>Total:</strong>
  <%= @order.total %>
</p>

<p>
  <strong>Status:</strong>
  <%= @order.status %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
