<p id="notice"><%= notice %></p>

<h1>Articalls</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articalls.each do |articall| %>
      <tr>
        <td><%= articall.name %></td>
        <td><%= articall.category_id %></td>
        <td><%= link_to 'Show', articall %></td>
        <td><%= link_to 'Edit', edit_articall_path(articall) %></td>
        <td><%= link_to 'Destroy', articall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Articall', new_articall_path %>
