<p id="notice"><%= notice %></p>
<h1>Reports</h1>
<button class="btn btn-success float-xl-right"><%= link_to 'New Report', new_report_path %></button>

  <table class="text-center text-dark table table-hover">
    <thead>
      <tr>
        <td colspan="6">
          <%= form_tag reports_path, method: :get do %>
            <div class="row">
              <div class="col">
                <%= text_field_tag :search ,params[:search], placeholder: "Search User Name", class: "form-control" %>
              </div>
              <div class="col">
                <%= select_tag(:reportable, options_for_select([['All', ''], ['Contact'],['Email']]), class: "form-control") %>&nbsp;
              </div>
              <div class="col">
                <%= select_tag(:report_type, options_for_select([['All', ''], ['Spam', 'spam'],['Block', 'block']]), class: "form-control") %>&nbsp;
              </div>
              <div class="col">
                <%= submit_tag "Search", class: "btn btn-primary btn-block" %>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>User</th>
        <th>Reportable</th>
        <th>Report type</th>
        <th colspan="5"></th>
      </tr>
    </thead>
`
  <tbody class="text-lg-center">

    <% @reports.each do |report| %>
      <tr>
        <td><%= report.user.name %></td>
        <td><%=  report.reportable.display %></td>
        <td><%= report.report_type %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>

    <tr>
      <td colspan="6">
        <%= paginate @reports %>
      </td>
    </tr>
  </tbody>
</table>

<br>
