<section class="ftco-section bg-light">
	<div class="container">
    <div class="heading-section mb-5">
    <h2 class="mb-4">New Order</h2>
    </div>
    <div class="ftco-search">
      <%= form_with(model: order, local: true) do |form| %>
        <% if order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

            <ul>
              <% order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="container">
          <div class="field">
            <%= form.label :payment_id %>
            <%= form.text_field :payment_id, class:"form-control" %>
          </div>
          <br>
          <div class="field">
            <%= form.label :payment_mode %><br>
            <%= form.select :payment_mode, options_for_select([['Cash'],['Cheque'], ['Cash Online']]), class: "form-control" %>
          </div>
          <br>
          <div class="actions">
            <button class="btn btn-outline-success btn-lg btn-block"><%= link_to 'Order now'%></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
