<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TheamSaloon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
    </script>

  </body>
</html>
